<form
  class="container"
  autocomplete="off"
  [formGroup]="fg"
  (ngSubmit)="onSubmit()"
>
  <br />

  <h1>Disabled</h1>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      formControlName="checkbox"
    />
    <label class="form-check-label"> checkbox </label>
  </div>

  <br />

  <select class="form-select" formControlName="selected">
    <option value="">Please selected</option>
    <option value="1">One</option>
  </select>

  <br />

  <input type="text" class="form-control" formControlName="input" />
  input: {{ fg.get('input').errors | json }}

  <br />

  <input type="text" class="form-control" formControlName="input2" />

  <br />

  <button type="submit">Submit</button>
  <button type="button" (click)="onReset()">Reset</button>
</form>
